body, html {
    margin: 0;
    height: 100%;
}


/*--------------------------------------------Other useful classes (uses for several elements)*/

.background-color-navbar-footer {
    background-color:#062f58;
}

.titles-style {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding: 15px;
}

.block-title-divider {
    width: 90%;
    height: 3px;
    border: 0;
    background-color: #094986;
    margin-bottom: 50px;
}

/*--------------------------------------------Navbar*/

.menu-collapse-align {
    margin-right: 5px;
    text-align: center;
}

.navbar .navbar-nav a {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*--------------------------------------------Home Page*/

/*--------------------------------------------Image and Welcome message section*/

.welcome-img-container {
    height: 100vh;
    min-height: 600px;

    background: url('../images/img_001.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}  

.opaque-overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 60px;    
}

.jumbotron-paragraph {
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10%;
}

.jumbotron-buttons {
    margin: 10px 0;
}

/*--------------------------------------------About Us section*/

.container-wrapper {}

.about-us-container {
    background-color: #e4f1f5;
    color: #05124e;
    min-height: 150px;
    padding: 30px 20px;
}

.about-us-img {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.about-us-p {
    font-size: 20px;
    text-align: justify;
    padding-top: 15px;
}

.about-us-block-divider {
    width: 75%;
    height: 3px;
    border: 0;
    background-color: #ca5a12;
}

/*--------------------------------------------End Home Page*/

/*--------------------------------------------Analytics Page*/

.sub-title-color {
    background-color: #a8b9bd;
    height: 80px;
}

.title-container {
    padding-top: 15px;
    color: #6c757d;
}

.sub-title-container {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.block-container-divider {
    height: 3px;
    margin-top: 25px;
    background-color: #c8ccd2;
}

.info-container {
    padding-top: 15%;
    padding-bottom: 15%;
}

.info-title {
    text-align: center;
    font-size: 30px;
    color: #5a7171;
}

.info-quantity {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.margin-container {
    margin-bottom: 30px;
}

#inputFrom > input,
#inputTo > input {
    margin-top: 10px;
    width: 200px;
}

.countryDropDown{
    margin-top: 10px;
}

.country-select.inside input, .country-select.inside input[type=text]{
    width: 200px;
}

.countryCheckBock{
    margin-top: 10px;
}

/* ----------------------------------------Datepicker */

.datepicker-container {
    text-align: center;
    font-weight: bold;
    min-height: 60px;
    padding-top: 15px;
}

/* ----------------------------------------Charts */

#total-world-cases-chart, 
#total-world-deaths-chart,
#total-world-recovered-chart,
#total-cases-country-chart,
#total-country-deaths-chart,
#total-country-recovered-chart{
    width:600px;
    height:400px;
}

/*--------------------------------------------COVID-19 Information Page*/

.description-page{
    font-size: 25px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}


/* ----------------------------------------Footer */
footer {
    color: #fafafa;
    min-height: 50px;
}

footer p {
   text-align: center;
   padding-top: 10px;
}

/* ----------------------------------------Media Queries */

@media screen and (max-width: 760px) {
    h1.jumbotron-header {
        font-size: 50px;
    }
  }

 @media screen and (max-width: 760px) {
    p.jumbotron-paragraph {
        font-size: 20px;
        margin: 8%;
    }
  }

 @media screen and (max-width: 3760px) {
    #total-world-cases-chart, 
    #total-world-deaths-chart,
    #total-world-recovered-chart,
    #total-cases-country-chart,
    #total-country-deaths-chart,
    #total-country-recovered-chart {
        margin-left: 8%;
    }
 }
    
  @media screen and (max-width: 750px) {
    #total-world-cases-chart,
    #total-world-deaths-chart,
    #total-world-recovered-chart,
    #total-cases-country-chart,
    #total-country-deaths-chart,
    #total-country-recovered-chart {
        width: 500px;
        height: 350px;
        margin-left: 0;
    }
  }

  @media screen and (max-width: 480px) {
    #total-world-cases-chart,
    #total-world-deaths-chart,
    #total-world-recovered-chart,
    #total-cases-country-chart,
    #total-country-deaths-chart,
    #total-country-recovered-chart {
        width: 380px;
        height: 300px;
        margin-left: 0;
    }
  }

  @media screen and (max-width: 400px) {
    #total-world-cases-chart,
    #total-world-deaths-chart,
    #total-world-recovered-chart,
    #total-cases-country-chart,
    #total-country-deaths-chart,
    #total-country-recovered-chart {
        width: 350px;
        height: 250px;
        margin-left: 0;
    }
  }
